body {
  background-color: #f5f5f5;
  color: #333;
}

.MoviesApp {
  display: flex;
  flex-flow: column;
}

.Movies {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  flex: 1;
  max-width: 60%;
  margin: auto;
}

.Movie {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  justify-content: space-between;
  width: 12rem;
  height: 12rem;
  min-width: 12rem;
  margin: .5rem;
  padding: .3rem .5rem;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.Movie-rating__innerProgressBar {
  background-color: #ddd;
  width: 100%;
}

.Movie-rating__progressBar {
  text-align: center;
  background-color: #5cb85c;
  height: .5rem;
  color: black;
}

.Movie-category {
  font-style: italic;
  display: inline;
  padding: 0 1rem;
  border-radius: 10px;
  background-color: #f5f5f5;
  text-transform: lowercase;
}

.Movie-delete {
  color: rgb(124, 124, 124);
  /* position: absolute; */
  font-size: 1.4rem;
  /* right: 0.3em;
  top: 0; */
  cursor: pointer;
  text-align: right;
}

.Movie-rating__likesDislikes {
  display: flex;
  justify-content: space-evenly;
  margin: 0.5rem 0;
}

.Movie-rating__thumb {
  color: rgb(124, 124, 124);
  cursor: pointer;
}

.Movie-rating__thumbsUp,
.Movie-rating__thumbsDown {
  color: #333;
}

.Movie-rating__thumb:hover,
.Movie-delete:hover {
  color: #333;
  transition: 0.5s;
  cursor: pointer;
}

.fa-thumbs-up, .fa-thumbs-down {
  font-size: 1.4rem;
}