.Bar {
  position: sticky;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.Bar-content {
  display: flex;
  height: 3rem;
  max-width: 40rem;
  min-width: 20rem;
  width: 60%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 230, 230);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px;
  border-radius: 5px;
}

.Bar-input {
  position: relative;
  flex: 1 1 auto;
  height: 100%;
}

.Bar-input__text {
  border: medium none;
  padding: 0 0.5rem;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.Bar-multiselect {
  display: flex;
  flex: 0 1 auto;
}

.Bar-multiselect__slot {
  border-left: 1px solid rgb(135, 136, 141);
  cursor: pointer;
}

.Bar-multiselect__header {
  display: flex;
  padding: 0 1rem;
  color: rgb(135, 136, 141);
  height: 100%;
  align-items: center;
  font-size: 0.8rem;
}

.Bar-multiselect__box {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(230, 230, 230);
  transition: all 0.2s cubic-bezier(0.41, 0.094, 0.54, 0.07) 0s;
  border-radius: 0px 0px 5px 5px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 10px;
  position: relative;
}

.Bar-multiselect__boxHidden {
  display: none;
}

.Bar-multiselect__list {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  padding: 0.8rem 0.1rem;
}

.Bar-multiselect__label {
  cursor: pointer;
}

.Bar-multiselect__element {
  padding: 0.1rem 0;
}

.Pills {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 100%;
  padding: 0 0.8rem;
}

.Pills-items {
  margin: 0 0.2rem;
  font-weight: bold;
}

.fa-angle-down {
  margin-left: 0.8125rem;
}
